<link rel="stylesheet" href="<%= assetPath('css/profile.css') %>" />
<form action="/users/update/<%= user._id %>" method="post">
  <table>
    <tr>
      <th colspan="2">PROFILE</th>
    </tr>

    <tr>
      <td>Name</td>
      <td>
        <input
          class="table-input"
          type="text"
          name="name"
          value="<%= user.name %>"
          readonly
        />
      </td>
      <td><input onclick="editElement(this)" type="button" value="edit" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        <input
          class="table-input"
          type="email"
          name="email"
          value="<%= user.email %>"
          readonly
        />
      </td>
      <td><input onclick="editElement(this)" type="button" value="edit" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input
          class="table-input"
          type="password"
          name="password"
          value=""
          readonly
          placeholder="Click Edit to update"
        />
      </td>
      <td><input onclick="editElement(this)" type="button" value="edit" /></td>
    </tr>
    <tr>
      <td class="row-center" colspan="3">
        <button type="submit" id="update-btn" disabled>Update</button>
      </td>
    </tr>
  </table>
</form>
<script src="<%= assetPath('css/layout.css') %>"></script>
